
.overlapse{
    margin-top: -300px;
}

fieldset{
    margin-bottom: 50%;
    position: relative;
    z-index: 100;
}
input{
    position: relative;
    z-index: 100;
}

legend{
    color: $alisa;
}

.super_hr{
    margin-bottom: 150%;
}

p{
    white-space: pre-wrap;
  }