
  // bg color is also needed in html in order to
  // block body's background propagation
  // see: https://stackoverflow.com/a/61265706
  $alisa : #A115A1;
  $alice : #A11C31;


  details{
    font-size: 14px;
  }
  summary{
    color:#A115A1
  }
  p{
    white-space: pre-wrap;
  }
  h1,h2,h3,h4,h5,h6{
    color: $alisa;
    
  }
  legend{
    white-space: pre-wrap;
  }

  .hidden{
    font-size: 0px;
  }

  


  html, body { background: white; }
  
  html { height: 100%; }


  body {
    color: black;
    font-family: monospace;
    min-height: 100%;
    overflow-wrap: break-word;
  }

  @media only screen and (max-width: 1702px) {
    body {
      font-size: 25px;
    }
  }

  @media only screen and (max-width: 1272px) {
    body {
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 20px;
    }
  }
  
  
  @media only screen and (max-width: 768px) {
    body {
      font-size: 30px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    body {
      font-size: 150px;
    }
  }

  
.nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
    .nav-a {
      float: left;
      display: block;
      font-size: xx-large;
      padding: 14px 16px;
      margin: 10px;
    
        &-selected {
            @extend .nav-a;
            color: black;
        }
        
        &-other {
            @extend .nav-a;
            color: gray;
        }
    }

  

 
  hr {
    border: 0;
    color: $alice;
  
    &:before { content: '/////' }
    &:after { content: attr(data-content) '/////' }
  }




a{
  color: black;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
}

.block {
  max-width: 50%;
  margin: 0 auto;
  padding: 4rem 2rem;
}

h1,h2,h3,h4{
  color: $alisa
}