
  // bg color is also needed in html in order to
  // block body's background propagation
  // see: https://stackoverflow.com/a/61265706

  @import "commons";
  @import "fonts";

  html, body { background: white; }
  
  html { height: 100%; }
  
  body {
    color: black;
    font-family: $font-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    min-height: 100%;
    overflow-wrap: break-word;
    // Fluid font scaling: min 16px, scales based + 1.5 percent of the viewport, max 20px
    font-size: clamp(1rem, calc(1rem + 1.5vw), 1.25rem);
  }

  
  h1,h2,h3,h4,h5,h6{
    font-family: $font-sans;
    font-weight: 700;
    font-style: normal;
    color: $alisa;
  }

  
  em {
    color: $alice;
  }

  strong {
    color: $alice;
  }

  a {
    color: black;
  }


  
.nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  font-family: $font-sans;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-a {
  display: block;
  font-size: xx-large;
  padding: 14px 16px;
  margin: 10px;
  text-decoration: none;

  &-selected {
    @extend .nav-a;
    color: black;
    font-weight: 700;
  }
  
  &-other {
    @extend .nav-a;
    color: gray;
  }
}

  

 
  hr {
    border: 0;
    color: $alice;
  
    &:before { content: '/////' }
    &:after { content: attr(data-content) '/////' }
  }
