---
layout: hyperromanticism
title: hyperromanticism (in progress)
permalink: /poetry/hyperromanticism
---
{% assign piece = site.data.poetry.hyperromanticism%}


<script src="../assets/js/hyperromanticism.js" async>
</script>
<div
    class="center"
    style=
        "
        max-width: 60%;
        margin: 0 auto;
        padding: 4rem 2rem;
        font: monospace;
        white-space: nowrap;"
>
    <div class="background">
        
    </div>
    <h4>
        {{piece.name}}
    </h4>

        
    <p style="text-shadow: 2px; text-emphasis-color: gray;">
        {{piece.intro}}
    </p>
    <hr/>
    <!-- <select id="nameInput" name="name">
        {% for fragment in piece.fragments  %}
        <option value={{fragment.name}}>{{fragment.name}}</option>
        {% endfor %}
    </select> -->

    {% assign n = piece.fragments | size %}
    {% assign fragments = piece.fragments  %}
    <fieldset id="nameInput" >
        <legend>{{piece.legend}}</legend>
        {% for fragment in fragments  %}
        <input type="checkbox" name={{fragment.name}}>{{fragment.name}}</input>
        {% endfor %}
    </fieldset>
    <hr/>
    <h6>
        {{piece.addition}}
    </h6>
    <hr/>
    <hr/ class="super_hr">
    <div>
    {% for fragment in fragments %}
        <div class='{{fragment.name}} hidden overlapse'>
            <h4>{{fragment.name}}</h4>
            {% for text in fragment.texts %}
                <p>
                    {{text}}
                </p>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <p>
        {{piece.date | date_to_long_string: "ordinal"}}
    </p>
</div>